
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>et</title>
    <script src='{% static 'js/common/axios.min.js' %}'></script>
</head>
<body>
<div id="app">
    <h1>[[name]]</h1>
    <table>
        <tr>
            <th>#</th>
            <th>标题</th>
            <th>定价</th>
        </tr>
        <tr v-for="book in books">
            <td>[[book.id]]</td>
            <td>[[book.title]]</td>
            <td>[[book.price]]</td>
        </tr>
    </table>
    <button @click="newBook">新增</button>
    <img :src=[[image_base64.image]] alt="UML Diagram">
</div>

<script type="module">
    import { createApp } from '{% static 'js/common/vue.esm-browser.js' %}'

    import AppComponent from '{% static 'js/app/app.js' %}'

    var app = createApp(AppComponent)
    app.mount('#app')
</script>
</body>
</html>